html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

.htmlComputer iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.player,
.restart {
  display: flex;
  justify-content: center;
  width: 120px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f6e6db;
  color: #683022;
  font-family: cursive;
  font-size: medium;
  transition: 0.5s;
  pointer-events: auto;
  cursor: pointer;
}
.player:hover,
.restart:hover {
  background-color: #683022;
  color: #f6e6db;
}
.player.active {
  background: #683022;
  color: #f6e6db;
}

.parallax-effect-threejs {
  position: relative;
  left: 30px;
  width: 100%;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-image: url("/img/certificates/threejs.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1024px) {
    top: -150px;
    left: 270px;
  }
}
.threejs {
  position: relative;
  top: -10px;
  left: 20px;
  width: 55%;
  margin-left: 35%;
  transform: translateZ(60px) scale(0.8);
}

.parallax-effect-openclassrooms {
  position: relative;
  left: 30px;
  width: 100%;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-image: url("/img/certificates/openclassrooms.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1024px) {
    top: -150px;
    left: 270px;
  }
}
.openclassrooms {
  position: relative;
  top: -180px;
  width: 65%;
  margin-left: 50%;
  transform: translateZ(40px) scale(0.4);
}

.parallax-effect-google {
  position: relative;
  left: 30px;
  width: 100%;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-image: url("/img/certificates/google.png");
  background-size: contain;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1024px) {
    top: -150px;
    left: 270px;
  }
}
.google {
  position: relative;
  top: -145px;
  left: -160px;
  width: 65%;
  transform: translateZ(40px) scale(0.5);
}
