html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

.htmlComputer iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
}

.htmlPhone iframe {
  width: 540px;
  height: 1040px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
}